<h1>Info</h1>
<ul>
    <li>argumentos: {{argumentos}}</li>
    <li>directorio: {{directorio}}</li>
    <li>idProceso: {{idProceso}}</li>
    <li>versionNode: {{versionNode}}</li>
    <li>sistemaOperativo: {{sistemaOperativo}}</li>
    <li>memoria: {{memoria}}</li>
    <li>path: {{path}}</li>
    <li>cantidad de procesadores: {{numProcesadores}}</li>
</ul>

        
       
        
       
       
       
        